@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --color-primary: #658979;
  --font-family: "Poppins", sans-serif;
  --second-family: "DM Sans", sans-serif;
  --third-family: "Jost", sans-serif;
  --paddings: calc(50% - 1250px / 2);
}

.center {
  padding-left: var(--paddings);
  padding-right: var(--paddings);
}

.back_to_top {
  position: fixed;
  bottom: -200px;
  right: -80px;
  transform: scale(0.2);
  border-radius: 100%;
  background: #fff;
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1000;
  overflow: hidden;
  transition: all 0.2s ease;
}

.back_to_top:hover {
  text-decoration: none;
}

.top {
  position: relative;
  height: 831px;
  background-image: url("assets/img/BackrgroundImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  /* предотвращает появление скролла */
}

.header {
  padding-top: 52px;
}

.header_content {
  max-height: 52px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown_icon {
  cursor: pointer;
  display: none;
  width: 52px;
  height: 52px;
  transition: transform 0.2s ease;
}

.dropdown_icon.open {
  transform: rotate(90deg);
}

.dropdown_wrapper {
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown_content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100vw;
  max-height: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  right: -20px;
  top: 100%;
  transition: all 0.4s ease;
}
.dropdown_content.open {
  max-height: 160px;
}

.dropdown_content:after {
  content: "";
  background-color: #191919;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.dropdown_content a {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 90px;
  margin-left: auto;
}

.menu_links {
  display: flex;
  align-items: center;
  gap: 60px;
}

.menu_link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 107%;
  color: #fff;
}
.menu_link__active {
  color: var(--color-primary);
}

.button {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 107%;
  color: #ffffff;
  width: 197px;
  height: 52px;
  background: var(--color-primary);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button:hover {
  color: var(--color-primary);
  background: transparent;
  border: 1px solid var(--color-primary);
}
.button__top {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 107%;
  color: #fff;
  width: 197px;
  height: 52px;
  border: 1px solid #fff;
  margin-left: 25px;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button__top:hover {
  background: #fff;
  color: #000;
}

.top_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.top_content,
.header {
  position: relative;
  z-index: 2;
}

.top_info {
  margin-top: 80px;
}

.top_img-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 720px;
  height: 625px;
  pointer-events: none;
  /* чтобы мышь не цепляла */
  z-index: 1;
}

.top_img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.subtitle {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 107%;
  color: var(--color-primary);
}

.top_title {
  max-width: 375px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 95%;
  color: #fff;
  margin-top: 32px;
}

.top_text {
  max-width: 390px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 21px;
  line-height: 107%;
  color: #9a9a9a;
  margin-top: 25px;
  margin-bottom: 59px;
}

/* ---------------------------- */
.mid {
  background-image: url(assets/img/BS_background.jpg);
  background-size: contain;
}

.InfoBar {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.AboutUs {
  display: flex;
  justify-content: space-between;
  width: 1050px;
}

.AboutUs_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 510px;
  order: 1;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 105%;
  color: #000;
  margin-top: 15px;
}

.mid_text {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 107%;
  color: #ababab;
  max-width: 400px;
  margin-top: 10px;
  margin-bottom: 24px;
}

.AboutUs_imageBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  position: relative;
  height: 476px;
}

.AboutUs_imageBlock img {
  width: 100%;
  height: auto;
  display: block;
}

.AboutUs_imageBlock img.overlay {
  grid-column: 2/span 1;
  grid-row: 1;
  border: 14px solid #fff;
  position: absolute;
  top: 35%;
  left: -14%;
  transform: scale(1.15);
  z-index: 10;
}

.Review_imageBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  position: relative;
}

.Review_imageBlock img {
  width: 100%;
  height: auto;
  display: block;
}

.Review_imageBlock img.overlay {
  grid-column: 2/span 1;
  grid-row: 1;
  border: 14px solid #fff;
  position: absolute;
  top: 35%;
  left: -14%;
  transform: scale(1.15);
  z-index: 10;
}

.ContactBar {
  height: 510px;
  background-image: url("assets/img/Background2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ContactBar_content {
  padding-top: 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_white {
  margin-top: 12px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 95%;
  max-width: 570px;
  color: #fff;
}

.ContactBar_text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 95%;
  color: #b8b8b8;
  max-width: 400px;
  margin: 28px 0 28px 0;
}

.button_contact {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 107%;
  color: #fff;
  width: 227px;
  height: 57px;
  background: var(--color-primary);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button_contact:hover {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.ContactBar_phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 11px;
  border-radius: 32px;
  width: 320px;
  height: 283px;
  background: #fff;
}

.small_text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 95%;
  color: #b8b8b8;
}

.phone_number {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 95%;
  color: #000;
}

.workflowBar {
  display: flex;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 90px;
}

.workflow_content {
  display: flex;
  justify-content: space-between;
  width: 1134px;
  height: 393px;
  background: var(--color-primary);
}

.workflow_info {
  padding-top: 60px;
  padding-left: 60px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.workflow_title {
  padding-left: 19px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 95%;
  color: #fff;
}

.subtitle_black {
  font-family: var(--third-family);
  margin-top: 5px;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 107%;
  color: #000;
}

.line {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px dashed #000;
  max-width: 367px;
  height: 0px;
  margin-bottom: 38px;
}

.work_days {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 95%;
  color: #fff;
}

.work_time {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 95%;
  color: #000;
}

.button_black {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 107%;
  color: #000;
  border: 1px solid #000;
  width: 166px;
  height: 39px;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button_black:hover {
  background: #000;
  color: #fff;
}

.back_text {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-top: -40px;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 64px;
  line-height: 107%;
  color: rgba(236, 236, 236, 0.1);
}

.Review_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 180px;
}

.Review_info {
  max-width: 470px;
}

.Review_Img {
  padding-bottom: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Map_container {
  width: 620px;
}

.ServicesBar {
  padding-top: 70px;
  padding-bottom: 120px;
  background-image: url("assets/img/Background3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ServicesInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ServicesBlock {
  padding-top: 90px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  row-gap: 112px;
  justify-content: space-between;
}

.ServicesBlock_item {
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  width: 494px;
  position: relative;
  transition: all 0.2s ease;
}
.ServicesBlock_item:hover {
  transform: scale(1.01);
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
}

.ServicesBlock_item_big {
  grid-row: span 2;
}

.ServicesBlock_item_img_container {
  height: calc(100% - 80px);
  display: flex;
  justify-content: center;
}

.ServicesBlock_item_img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ServicesBlock_item_info {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-primary);
  height: 80px;
}
.ServicesBlock_item_info:hover .ServicesBlock_item_title {
  color: var(--color-primary);
}

.ServicesBlock_item_info::after {
  z-index: 3;
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: block;
  width: 0;
  transition: 0.2s;
  height: 81px;
  background: #ffffff;
}

.ServicesBlock_item_info:hover::after {
  width: 100%;
}

.ServicesBlock_item_title {
  z-index: 4;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
  transition: all 0.2s ease;
}

.ServicesInfo_text {
  text-align: center;
  max-width: 400px;
  margin-top: 30px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 95%;
  color: #b8b8b8;
}

.MastersBar {
  padding-top: 69px;
  padding-bottom: 90px;
}

.MastersBar_info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.MastersBar_text {
  text-align: right;
  width: 380px;
  margin-top: 15px;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 107%;
  color: #ababab;
}

.MastersBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.MastersBlock_item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MastersBlock_item_name {
  padding-top: 20px;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 107%;
  color: #000000;
}

.MastersBlock_img_container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.MastersBlock_img_container:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.MastersBlock_img_container img {
  width: 100%;
  height: 100%;
}

.footer {
  padding-top: 40px;
  background: #000;
}

.footer_top_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.1);
}

.footer_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 85px;
}

.footer_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -0.01em;
  color: #fff;
}

.footer_button {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 17px;
  letter-spacing: -0.01em;
  color: #fff;
  width: 175px;
  height: 50px;
  background: var(--color-primary);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.footer_button:hover {
  background: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.footer_info {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_info_links {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_info_link {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 17px;
  letter-spacing: -0.01em;
  color: var(--color-primary);
}

.footer_info_contacts {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts_text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
}

.hover_anim {
  position: relative;
}

.hover_anim::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: block;
  width: 0;
  transition: 0.2s;
  height: 1px;
  background: #ffffff;
}

.hover_anim.yellow::after {
  background: var(--color-primary);
}

.hover_anim:hover::after {
  width: 100%;
}

.contacts_text_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.01em;
  color: #fff;
}

.contacts_link {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.06em;
  color: #fff;
}

.footer_late {
  padding-top: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_label {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.01em;
  color: #fff;
}

.logo_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.footer_microinfo {
  padding-top: 28px;
  padding-bottom: 50px;
}

.footer_microinfo_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 11px;
  letter-spacing: -0.02em;
  color: #fff;
  opacity: 0.3;
}

@media (max-width: 1300px) {
  .center {
    padding-left: calc(50% - 512px);
    padding-right: calc(50% - 512px);
  }
}
@media (max-width: 1060px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .menu {
    gap: 40px;
  }
  .menu_links {
    gap: 30px;
  }
  .top_img-wrapper {
    transform: scale(0.8);
    translate: 10% 10%;
  }
  .AboutUs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .AboutUs_info {
    padding-top: 30px;
    justify-content: center;
    align-items: center;
  }
  .AboutUs_info h2 {
    text-align: center;
  }
  .imageBlock {
    width: 60%;
    overflow: hidden;
  }
  .workflow_info {
    padding-left: 20px;
    padding-right: 20px;
  }
  .Review_content {
    padding-bottom: 90px;
    flex-direction: column;
    align-items: center;
  }
  .Review_Upper {
    margin-bottom: 30px;
  }
  .Review_Img {
    justify-content: center;
  }
  .Review_info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ServicesBlock {
    grid-template-columns: auto;
    justify-content: center;
  }
  .MastersBar_info {
    align-items: center;
    padding-bottom: 30px;
  }
  .MastersBar_text {
    text-align: center;
  }
  .MastersBlock {
    flex-direction: column;
  }
  .MastersBlock_item {
    margin-bottom: 60px;
  }
  .footer_info_links {
    flex-direction: column;
  }
  .footer_info_links a {
    text-align: left;
    margin-bottom: 15px;
  }
  .footer_info_contacts {
    gap: 15px;
    flex-direction: column;
  }
  .contacts_text {
    gap: 0px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .logo_links {
    transform: translateX(-80%);
  }
}
@media (max-width: 815px) {
  .center {
    padding-left: 20px;
    padding-right: 20px;
  }
  .back_to_top {
    transform: scale(0.15);
    right: -110px;
  }
  .header {
    height: 200px;
    display: block;
    align-items: flex-start;
  }
  .dropdown_icon {
    display: block;
  }
  .menu {
    display: none;
  }
  .top_img-wrapper {
    display: none;
  }
  .top_content {
    flex-direction: column;
    align-items: center;
  }
  .top_info {
    margin-top: 52px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button__top {
    margin: 0;
    margin-top: 20px;
  }
  .ContactBar_content {
    flex-direction: column;
    align-items: center;
  }
  .ContactBar_info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ContactBar_phone {
    display: none;
  }
  .imageBlock {
    display: none;
  }
  .workflow_content {
    justify-content: center;
  }
  .workflow_info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .workflow_title {
    padding: 0;
  }
  .line {
    width: 100%;
  }
  .Map_container {
    width: calc(100vw - 40px);
  }
  .ServicesInfo h2 {
    text-align: center;
  }
  .ServicesBlock_item {
    width: 405px;
  }
  .footer_title {
    display: none;
  }
  .logo_links {
    transform: translateX(0);
  }
}/*# sourceMappingURL=style.css.map */